@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic);


.search-box1 {
  position: fixed;
  left: 0;
  right: 30;
  top: 45%;
}
.search_box {
  position: absolute;
  left: 45%;
  width: auto;
  text-align: right;
  transition: 0.8s cubic-bezier(0.5, 0.57, 0.32, 0.99) left, 0s cubic-bezier(0.5, 0.57, 0.32, 0.99) opacity;
}
.search_button {
  width: 69px;
  height: 69px;
  background: #2dc3e8;;
  border-radius: 1000px;
  border: 2px dashed #fff;
  box-shadow: 0 0 0 4px #2dc3e8;;
  color: #fff;
  text-align: center;
  line-height: 70px;
  font-size: 26px;
  display: inline-block;
  position: absolute;
  left: 0px;
  cursor: pointer;
  transition: 0.8s cubic-bezier(0.5, 0.57, 0.32, 0.99) left, 0.8s cubic-bezier(0.5, 0.57, 0.32, 0.99) transform, 0.1s cubic-bezier(0.5, 0.57, 0.32, 0.99) background;
  transform: rotate(-1turn);
}
.search_button:hover { 
  background: #2dc3e8;;
}
.search_input {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 9px;
  width: 60px;
  height: 61px;
  border: 0;
  line-height: 61px;
  border-radius: 1000px;
  margin: 0;
  padding: 0;
  box-shadow: inset 0px 0 0px 0px #2dc3e8;, 0px 0 10px 2px #A4E4AB;
  text-indent: 20px;
  font-size: 21px;
  color: #aaa;
  font-family: 'Open Sans', sans-serif;
  transition-property: border-radius, left, width, box-shadow, text-indent;
  transition-duration: 0.8s, 0.8s, 0.8s, 0.25s, 0.2s;
  transition-timing-function: cubic-bezier(0.5, 0.57, 0.32, 0.99), cubic-bezier(0.5, 0.57, 0.32, 0.99), cubic-bezier(0.5, 0.57, 0.32, 0.99), linear, linear;
}
.search_input:focus {
  outline: none;
}
.search_box.start {
  left: 38%;
}
.search_box.start .search_button {
  left: 235px;
  transform: rotate(0turn);
}
.search_box.start .search_input {
  left: -150px;
  width: 450px;
}
.search_box.start .search_input:focus {
  text-indent: 33px;
}
.search_box.finish {
  opacity: 0.7;
  transition-delay: 0.75s;
}
.search_box.finish .search_input {
  text-indent: 20px;
  color: #fff;
  box-shadow: inset -480px 0 0px -20px #2dc3e8;, 0px 0 0px 0px #A4E4AB;
  transition-property: box-shadow, color;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.5, 0.57, 0.32, 0.99);
}