@CHARSET "UTF-8";

.errorDiv {
	color: red;
	text-align: left;
}

.errorDiv label {
	color: red;
}

.error {
	font-family: sans-serif;
	font-weight: lighter;
}

.ui-autocomplete {
	max-height: 140px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	font-size: medium;
	border-radius: 0px;
	border: 0.50px solid #454545;
}

.ui-menu-item {
	background-color: #DCEFF5text !important;
}

.disabledArea {
	pointer-events: none;
}

.diplayInit {
	display: initial;
}

.smallIcon {
	width: 64px;
	height: 64px;
}

.previewIcon {
	width: 110px;
	height: 110px;
}

.pointerStyle {
	cursor: pointer;
}

.addMoreErrorDiv {
	color: red;
	text-align: left;
	clear: both;
	display: -webkit-inline-box;
	display: -moz-inline-box;
}

.asteric {
	color: red;
	font-size: large;
}

span {
	word-break: break-all;
}

p {
	word-break: break-all;
}

.bootstrap-tagsinput input {
	width: 420px;
}

.labelErrorDiv {
	font-size: 15px;
	font-weight: normal;
	color: red;
	text-align: left;
}

.adminTable>tbody>tr>td>div {
	display: inline-flex;
	white-space: nowrap;
}

.scroll-notification {
	width: 100%;
	height: auto;
	max-height: 250px;
	overflow-y: scroll;
}

.hoverDiv {
	cursor: pointer;
}

.hoverDiv:hover {
	background-color: rgba(158, 158, 158, 0.2);
}

.md-button {
	display: inline-block;
	position: relative;
	cursor: pointer;
	min-height: 28px;
	min-width: 77px;
	line-height: 14px;
	vertical-align: middle;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-grid-row-align: center;
	align-items: center;
	text-align: center;
	border-radius: 3px;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 0;
	padding: 0 6px;
	margin: 6px 8px;
	background: transparent;
	color: currentColor;
	white-space: nowrap;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	font-style: inherit;
	font-variant: inherit;
	font-family: inherit;
	text-decoration: none;
	overflow: hidden;
	-webkit-transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1),
		background-color .4s cubic-bezier(.25, .8, .25, 1);
	transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1),
		background-color .4s cubic-bezier(.25, .8, .25, 1);
}

.postdesc {
	margin-top: 8px;
	font-size: 16px;
}

md-content.md-default-theme, md-content {
	color: rgba(0, 0, 0, 0.87);
	background-color: white !important;
}

md-content.autocomplete {
	z-index: 2025;
}

md-autocomplete input {
	border: 1px solid blue;
}

.md-autocomplete-suggestions-container img {
	float: left;
}

.contactChips md-content.autocomplete {
	z-index: 25;
}

.modal {
	z-index: 20;
}

.modal-backdrop {
	z-index: 10;
}

.modal-dialog {
	margin-top: 10%;
}

.timeago {
	color: #a5a4a4;
}

.icon-color {
	color: #2dc3e8;
}

.company_image {
	width: 4.5em;
}

.company_lables {
	margin: 0px 0px 0px
}
tr.modal-profile-tr > td{
  padding-bottom: 0.5em;
}
.modal-profile-input{
	width:200%;
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none; 
}
.modal-profile-input-width{
	width:12em;
}