@CHARSET "UTF-8";
body, html {
  height: auto !important;
}

.badge-notify {
	background: red;
	position: relative;
	top: -20px;
    left: -17px
}

.notify-dropdown {
	display: inline-block;
}

.glyphicon-bell {
	font-size: 1.5rem;
}

.notifications {
	min-width: 420px;
	max-width: 420px;
}

.notifications:before {
	content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    color: transparent;
    border: 8px solid black;
    border-color: transparent transparent #AEB6BF;
    margin-top: -22px;
    margin-left: 400px
}
.notifcus:before {
	content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    color: transparent;
    border: 8px solid black;
    border-color: transparent transparent #AEB6BF;
    margin-top: -21px;
    margin-left: 400px
}
.notifications-wrapper {
	overflow: auto;
	max-height: 250px;
}

.menu-title {
	color: #2dc3e8;
	font-size: 1.5rem;
	display: inline-block;
}

.glyphicon-circle-arrow-right {
	margin-left: 10px;
}

.notification-heading, .notification-footer {
	padding: 2px 10px;
}

.dropdown-menu.divider {
	margin: 5px 0;
}

.item-title {
	font-size: 1.3rem;
	color: #635858;
}

.item-info {
	margin-top: -10px;
	color: #8c8989;
}

.notifications a.content {
	text-decoration: none;
	background: #ccc;
}

.notification-item {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 6px;
	margin: 5px;
	background: rgba(45, 195, 232, 0.34);;
	border-radius: 4px;
}

.notif-content {
	margin-left: 40px;
	margin-top: -8px;
}

.notif-image {
	float: left;
}

.notif-image img {
	display: block;
	width: 35px;
	height: 40px;
	border: 1px solid gray;
}

.connectBtn {
	background: #1a85cc;
	background-image: -webkit-linear-gradient(top, #1a85cc, #2980b9);
	background-image: -moz-linear-gradient(top, #1a85cc, #2980b9);
	background-image: -ms-linear-gradient(top, #1a85cc, #2980b9);
	background-image: -o-linear-gradient(top, #1a85cc, #2980b9);
	background-image: linear-gradient(to bottom, #1a85cc, #2980b9);
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	font-family: Arial;
	color: #ffffff;
	font-size: 13px;
	padding-top: 2px;
	text-decoration: none;
	height: 25px;
	margin-left: 20px;
}

.ignoreBtn {
	background: #f2721d;
	background-image: -webkit-linear-gradient(top, #f2721d, #de9516);
	background-image: -moz-linear-gradient(top, #f2721d, #de9516);
	background-image: -ms-linear-gradient(top, #f2721d, #de9516);
	background-image: -o-linear-gradient(top, #f2721d, #de9516);
	background-image: linear-gradient(to bottom, #f2721d, #de9516);
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	font-family: Arial;
	color: #ffffff;
	font-size: 13px;
	padding: 4px 10px 4px 10px;
	text-decoration: none;
	padding-top: 2px;
	height: 25px;
	text-decoration: none;
}

.connectBtn:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}

.ignoreBtn:hover {
	background: #bd5302;
	background-image: -webkit-linear-gradient(top, #bd5302, #d13710);
	background-image: -moz-linear-gradient(top, #bd5302, #d13710);
	background-image: -ms-linear-gradient(top, #bd5302, #d13710);
	background-image: -o-linear-gradient(top, #bd5302, #d13710);
	background-image: linear-gradient(to bottom, #bd5302, #d13710);
	text-decoration: none;
}

.notifyBell {
	font-size: 20px !important;
	margin-right: 0 !important;
	line-height: 15px !important;
}

.typeahead-demo .custom-popup-wrapper {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	background-color: #f9f9f9;
}

.typeahead-demo .custom-popup-wrapper>.message {
	padding: 10px 20px;
	border-bottom: 1px solid #ddd;
	color: #868686;
}

.typeahead-demo .custom-popup-wrapper>.dropdown-menu {
	position: static;
	float: none;
	display: block;
	min-width: 160px;
	background-color: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
}

.auto-image {
	width: 20px;
	height: 25px;
}

.auto-name {
	margin-left: 5px;
	font-size: 16px;
}

.inverted {
	margin-top: 12px;
	width: 400px;
	margin-right: 30px;
}

#navbar {
	background: #f5f5f5;
	border-bottom:3px solid #7cb4b6;
}

.navbar-right {
	margin-right: 0px;
}

.user-dropdown-icon {
	line-height: 17px !important;
	background-color:
}

.user-profile-dropdown {
	background-color: #2dc3e8;
	color: #FFF !important;
}

.user-profile-box {
	margin-left: 10px;
	margin-top: -18px;
}

.nav .user-profile-box.open>a {
	 background-color: #71d2ea; 
}
.nav .notify-dropdown.open>a {
	 background-color: #f5f5f5; 
}
.navbar-fixed-top .navbar-collapse {
   
}
.navbar-fixed-top{
	
}

.share-model-image{
	max-height: 150px;
    max-width: 200px;
}

.navbar-nav li{
	padding-left:20px;
}

.glyphicon:hover, .fa:hover{
	color:#067894 !important;
}